@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    background: rgb(204, 58, 204);
}

.btn {
    padding: 15px 25px;
    border: 0;
    background: rebeccapurple;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    margin: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0,0,0,0.1);
}

.btn:focus {
    outline: 0;
}

.btn:active {
    transform: scale(.9);
}